@import "tailwindcss";

@layer utilities {
  @keyframes randomFloat {
    0%,
    100% {
      transform: translate(-50%, 50%) translateY(0);
    }
    50% {
      transform: translate(-50%, 50%) translateY(-15px);
    }
  }

  .float-animation {
    animation: randomFloat var(--float-speed, 3s) ease-in-out infinite;
  }
}
